.all{
    width: 80%;
    margin: 50px auto;
    padding-top: 0;
}

.all h1{
    color: white;
    text-align: center;
    background-color: #444;
    margin-top: 0;
}

.itemList{
    list-style-type: none;
    text-align: left;
    margin-right: 25px;
}

.itemLink{
    text-decoration: none;
    color: #333;
    border: 1px solid black;
    border-radius: 2px;
    display: grid;
    justify-items: center;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    box-shadow: 0px 3px 12px -9px #000000;
}

.itemLink:hover{
    transform: scale(1.01);
}

.shopGrid{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 200px);
    grid-gap: 10px;
}

.itemLink:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.itemLink:nth-child(2){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.itemLink:nth-child(3){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.itemLink:nth-child(4){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}


.itemLink:nth-child(15){
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}
.itemLink:nth-child(16){
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}
.itemLink:nth-child(17){
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}


.itemLink:nth-child(18){
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.itemLink:nth-child(19){
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 7;
}

.itemLink:nth-child(20){
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 7;
}

.itemLink:nth-child(14){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
}
.itemLink:nth-child(6){
    grid-column-start: 1;
    grid-row-start: 7;
}
.itemLink:nth-child(7){
    grid-column-start: 2;
    grid-row-start: 7;
}
.itemLink:nth-child(7) img{
    height: 80px;
}
.itemLink:nth-child(8) img{
    height: 60px;
}
.itemLink:nth-child(5) img, .itemLink:nth-child(9) img, .itemLink:nth-child(12) img{
    height: 250px;
}

.itemLink:nth-child(8){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
}
.itemLink:nth-child(10){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 12;
}
.itemLink:nth-child(11){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 12;
}

.itemLink:nth-child(13) img {
    transform: scale(1.5);
    margin: 50px 0;
}
.itemLink:nth-child(5){
    grid-column-start: 1;
    grid-row-start: 8;
    grid-row-end: 10;
}
.itemLink:nth-child(9){
    grid-column-start: 2;
    grid-row-start: 8;
    grid-row-end: 10;
}
.itemLink:nth-child(12){
    grid-column-start: 3;
    grid-row-start: 8;
    grid-row-end: 10;
}
.itemLink:nth-child(13){
    grid-column-start: 4;
    grid-row-start: 8;
    grid-row-end: 10;
}

.itemLink:nth-child(1) img,
.itemLink:nth-child(2) img,
.itemLink:nth-child(3) img,
.itemLink:nth-child(4) img,
.itemLink:nth-child(15) img,
.itemLink:nth-child(16) img,
.itemLink:nth-child(17) img,
.itemLink:nth-child(18) img,
.itemLink:nth-child(19) img,
.itemLink:nth-child(20) img {
    height: 250px;
}

.shopGrid img{
    max-width: 50%;
}

.shopGrid h3{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 10px;
}

@media screen and (max-width: 768px) {
    .itemLink{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #333;
        border: 1px solid black;
        border-radius: 2px;
        box-shadow: 0px 3px 12px -9px #000000;
        margin-bottom: 20px;
    }
    .shopGrid img{
        max-width: 50%;
    }

    .shopGrid {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1600px) {

    .shopGrid {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid red;
        justify-content: space-around;
    }

}
