.all{
    width: 80%;
    margin: 0 auto;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 3px rgba(0,0,0,1);
}

.blur{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    backdrop-filter: blur(8px);
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.electronicsContainer{
    background-image: url('../../assets/rs=h_1000\,cg_true.webp');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #EFF2FC;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 30vh;
    margin: 0 auto;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 6px 7px 14px -11px rgba(0,0,0,0.78);
}

.electronicsContainer:hover{
    transform: scale(1.01);
}

.jewelryContainer{
    background-image: url('../../assets/maxresdefault.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #DFC8BF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 30vh;
    margin: 0 auto;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 6px 7px 14px -11px rgba(0,0,0,0.78);
}

.jewelryContainer:hover{
    transform: scale(1.01);
}

.clothContainer{
    background-image: url('../../assets/stack-clothes-white-background-closeup.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #DFC8BF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 30vh;
    margin: 0 auto;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 6px 7px 14px -11px rgba(0,0,0,0.78);
}

.clothContainer:hover{
    transform: scale(1.01);
}

@media screen and (max-width: 1024px) {
    .electronicsContainer, .jewelryContainer, .clothContainer{
        min-width: 350px;
    }
    .electronicsContainer, .jewelryContainer, .clothContainer h2{
        font-size: 12px;
    }
}