.cartWrapper {
    position: fixed;
    width: 15vw;
    height: fit-content;
    top: 60px;
    right: 150px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    z-index: 10;
  }

  .cartInnerWrapper {
    height: max-content;
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
  }

  .cartTotal {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 1600px) {
    .cartWrapper{
      width: 250px;
      right: 40px;
    }
    
  }
