.cartWrapper {
    position: fixed;
    width: 18vw;
    height: fit-content;
    top: 60px;
    right: calc((100% - 1100px) / 2 + 24px);
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;
    padding: 20px;
    z-index: 401;
    text-transform: uppercase;
  }

  .cartList {
    padding-left: 10px;
  }

  .cartInnerWrapper {
    height: max-content;
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
  }

  .cartTotal {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 1600px) {
    .cartWrapper{
      width: 250px;
      right: 40px;
    }
  }

  @media screen and (max-width: 768px) {
    .cartWrapper{
      position: fixed;
      top: 72px;
      right: 5px;
      width: calc(100% - 32px);
      max-width: 420px;
    }

    .cartList {
      padding-left: 10px;
    }
  }
