.cartWrapper {
    position: fixed;
    width: 18vw;
    height: fit-content;
    top: 60px;
    right: 75px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;
    padding: 10px 10px 20px 10px;
    z-index: 401;
    text-transform: uppercase;
  }

  .cartInnerWrapper {
    height: max-content;
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
  }

  .cartTotal {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 1600px) {
    .cartWrapper{
      width: 250px;
      right: 40px;
    }
  }
