.all{
    text-decoration: none;
    color: black;
    width: 40%;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 7px 14px -11px rgba(0,0,0,0.78);
}

.all:hover{
    transform: scale(1.01);
}

.routes{
    text-decoration: none;
    color: black;
}

.shopItem img{
    width: 25%;
    height: 25%;
}

.shopItem{
    display: flex;
    align-items: center;
}

.itemDescription{
    text-align: left;
    padding-left: 20px;
}

.addCart{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: flex-end;
}

@media screen and (max-width: 767px) {
    .all{
        width: 100%;
        margin: 0;
        padding: 10px;
        overflow-x: auto;
        padding-right: 20px;
    }

    .shopItem img{
        width: 40%;
        height: 40%;
    }
}

@media screen and (max-width: 1023px) {
    .all{
        width: 100%;
        margin: 0;
        padding: 10px;
        overflow-x: auto;
        padding-right: 20px;
    }

    .shopItem img{
        width: 40%;
        height: 40%;
    }
}