#h1{
    color: rgb(78, 15, 136);
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 30px;
}

.cartTotal{
    border-top: 2px solid rgb(54, 18, 87);
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px auto 0;
}

.cartTotal h3{
    margin-right: 10px;
    color: #2c3e50;
}

.cartTotal p{
    margin-right: 20px;
}

.cartTotal span {
    margin-right: 20px;
}

.none{
    display: none;
}

.button{
    margin-top: 20px;
    border: 1px solid;
    background-color: #6300d4;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 10px;
    transform: scale(0.9);
  }
  .button:hover{
      transform: scale(1.0);
  }
  .button:active{
      background-color: #a87cfa;
  }

.billingButton{
    background-color: #333;
    color: white;
    border-radius: 22.5px;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 45px;
    height: 45px;
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: flex-start;
}
