.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 410;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
  }

  .modal {
    width: 600px;
    height: auto;
    background: white;
    color: white;
    z-index: 500;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }

  .modal input{
    height: 20px;
    margin: 5px 0;
  }

  .modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .modalHeader button {
    margin-right: 30px;
  }

  .heading {
    margin: 1px;
    padding-top: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-left: 40px;
  }

  .address{
    margin: 1px;
    padding-top: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0;
  }

  .closeBtn{
    border: none;
    background-color: white;
  }

  .modalForm{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 40px 0;
  }

  .checkbox{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .select select{
    width: 100%;
    margin-top: 5px;
    height: 30px;
  }

  .checkbox label{
    margin-right: 20px;
  }
  .button{
    border: 1px solid;
    background-color: #333;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 30px auto 50px;
    transform: scale(0.9);
    width: 50%;
    text-align: center;
  }
  .button:hover{
      transform: scale(1.0);
  }
  .button:active{
      background-color: orange;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .modalForm span{
    color: red;
    font-size: 13px;
  }

  .select{
    display: flex;
    flex-direction: column;
  }
  .countrySelect select{
    width: 100%;
    height: 30px;
  }
