
nav{
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,9,121,1) 35%, rgba(175,0,255,1) 100%);
    box-shadow: 0px 8px 13px -8px rgba(0,0,0,0.46);
    color: white;
  }

  .logo i{
    color: white;
  }
  .logo a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
    margin-left: 5px;
  }

  .logo{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 50px;
  }

  .cart{
    justify-self: flex-end;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
  }

  .cart i{
    cursor: pointer;
  }

  .cartCounter {
    margin-bottom: 30px;
    background-color: #E71D36;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    text-align: center;
  }