
nav{
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,9,121,1) 35%, rgba(175,0,255,1) 100%);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 8px 13px -8px rgba(0,0,0,0.46);
  }
  nav li{
    color: white;
    text-decoration: none;
  }
  .navLinks{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
  }

  .navLinks a{
    text-decoration: none;
    font-weight: 600;
  }

  .cart{
    justify-self: flex-end;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cartCounter {
    margin-bottom: 30px;
    background-color: #E71D36;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    text-align: center;
  }